{% extends 'base.html' %}

{% block header %}
<div class="container-fluid">
</div>
{% endblock %}

{% block content %}

<div class="container">
  <header class="header">
    <h1 class="text-center" id="title"> {% block title %}New Invoice{% endblock %}</h1>
    <p id="description" class="text-center">
      Create a new Invoice
    </p>
  </header>
  <div class="form-wrap">
    <form id="create-form" method="POST">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="invoice_date">Invoice Date:</label>
            <input type="date" id="invoice_date" class="form-control" name="invoice_date" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="due_date">Due Date:</label>
            <input type="date" id="due_date" name="due_date" class="form-control" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="invoice_number">Invoice Number:</label>
            <input type="datetime-local" id="invoice_number" name="invoice_number" class="form-control" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="client_name">Client Name:</label>
            <input type="text" id="client_name" name="client_name" class="form-control" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="client_address">Client Addressr:</label>
            <input type="text" id="client_address" name="client_address" class="form-control">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="client_postcode">Client Postcode:</label>
            <input type="text" id="client_postcode" name="client_postcode" class="form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="client_email">Client Email:</label>
            <input type="email" id="client_email" name="client_email" class="form-control">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="client_phone">Client Phone:</label>
            <input type="tel" id="client_phone" name="client_phone" class="form-control" required>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description:</label>
        <textarea class="form-control" id="description" name="description" rows="3"></textarea>
      </div>
  </div>
</div>


<div class="row">
  <div class="col-md-4">
    <button type="submit" id="submit" class="btn btn-primary btn-block">Create Invoice</button>
  </div>
</div>


{% endblock %}