{% extends 'base.html' %}

{% block header %}
<div class="container-fluid">
  <h1 class="display-4"> {% block title %}New Invoice{% endblock %}</h1>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <form id="create-form" method="POST">

    <div>
      <label for="invoice_date">Invoice Date:</label>
      <input type="date" id="invoice_date" name="invoice_date" required>
    </div>

    <div>
      <label for="due_date">Due Date:</label>
      <input type="date" id="due_date" name="due_date" required>
    </div>

    <div>
      <label for="invoice_number">Invoice Number:</label>
      <input type="datetime-local" id="invoice_number" name="invoice_number">
    </div>

    <div>
      <label for="client_name">Client Name:</label>
      <input type="text" id="client_name" name="client_name" required>
    </div>

    <div>
      <label for="client_address">Client Addressr:</label>
      <input type="text" id="client_address" name="client_address">
    </div>

    <div>
      <label for="client_postcode">Client Postcode:</label>
      <input type="text" id="client_postcode" name="client_postcode">
    </div>

    <div>
      <label for="client_email">Client Email:</label>
      <input type="text" id="client_email" name="client_email">
    </div>
    <div>
      <label for="client_phone">Client Phone:</label>
      <input type="text" id="client_phone" name="client_phone">
    </div>

    <div>
      <label for="description">Description:</label>
      <textarea id="description" name="description" rows="1" cols="30"></textarea>
    </div>


    <input type="range" id="b" name="b" value="50" /> +
    <input type="number" id="a" name="a" value="10" /> =
    <output name="result" for="a b">60</output>
    
    <button type="submit">Create Invoice</button>

  </form>
<script>

const form = document.getElementById("create-form");
const a = form.elements["a"];
const b = form.elements["b"];
const result = form.elements["result"];

function updateResult() {
  const aValue = parseInt(a.value);
  const bValue = parseInt(b.value);
  result.value = aValue + bValue;
}

form.addEventListener("input", updateResult);

updateResult();
</script>


</div>

{% endblock %}