{% extends 'base.html' %}

{% block content %}




<div class="container">
  <div class="form-wrap">
    <form id="create-invoice" method="post">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="invoice_number">Invoice Number:</label>
            <input type="datetime-local" id="invoice_number" name="invoice_number" class="form-control" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="invoice_date">Invoice Date:</label>
            <input type="date" id="invoice_date" name="invoice_date" class="form-control" required>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="due_date">Due Date:</label>
            <input type="date" id="due_date" name="due_date" class="form-control">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="client_name">Client Name:</label>
            <input type="text" id="client_name" name="client_name" class="form-control" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="client_address">Client Addressr:</label>
            <input type="text" id="client_address" name="client_address" class="form-control" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="client_postcode">Client Postcode:</label>
            <input type="text" id="client_postcode" name="client_postcode" class="form-control" required>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="client_email">Client Email:</label>
            <input type="email" id="client_email" name="client_email" class="form-control">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="client_phone">Client Phone:</label>
            <input type="tel" id="client_phone" name="client_phone" class="form-control" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" class="form-control" name="description" rows="4" cols="50"></textarea>
          </div>
        </div>
      </div>

      <table class="table table-bordered" id="invoice-items">
        <thead>
          <tr>
            <th scope="col">Item</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="text"  class="form-control form-control-sm" placeholder="item_1" name="item_1" /></td>
            <th><input type="number" class="form-control form-control-sm" id="b" name="b" value="50"  /></th>
            <td><input type="number" class="form-control form-control-sm"  id="a" name="a" value="10" /></td>
            <td><output name="result" class="form-control form-control-sm"  for="a b">60</output></td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col-md-4">
          <button type="submit" id="submit" class="btn btn-primary btn-block">Create Invoice</button>
        </div>
      </div>
    </form>
  </div>
  <script>
    const form = document.getElementById("create-invoice");
    const a = form.elements["a"];
    const b = form.elements["b"];
    const result = form.elements["result"];

    function updateResult() {
      const aValue = parseInt(a.value);
      const bValue = parseInt(b.value);
      result.value = aValue + bValue;
    }

    form.addEventListener("input", updateResult);

    updateResult();

  </script>
</div>
{% endblock %}