<!doctype html>

<head>

    <title>{% block title %}{% endblock %} - Flaskr</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='view.css') }}">
</head>

{% block content %}





<body>


    <div class="invoice-box">
        <table class="table table-bordered" id="invoice-items">

            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td class="title">
                                <img alt="Company logo" style="width: 100%; max-width: 300px"
                                    src="{{url_for('static', filename='logo.png')}}" />

                            </td>

                            <td>
                                <label for="Invoice_number">Invoice Number:{{ invoices['invoice_number'] }}</label>
                                <br />
                                <label for="invoice_date">Invoice Date:{{invoices['invoice_date']}}</label>
                                <br />
                                <label for="due_date">Due Date:{{ invoices['due_date']}}</label>
                                <br />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr>
                            <td>
                                SkrewFast, Inc.<br />
                                London SW11 4aa
                            </td>

                            <td>
                                {{ invoices['client_name']}}<br />
                                {{ invoices['client_address']}}<br />
                                {{ invoices['client_postcode']}}<br />
                                {{ invoices['client_email']}}<br />
                                {{ invoices['client_phone']}}<br />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <table class="table table-bordered" id="invoice-items">
                <thead>
                    <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Qty</th>
                        <th scope="col">Price</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for invoice in invoice_items %}
                    <tr>
                        <th scope="row"> {{ invoice_items['item']}}</th>
                        <td>{{ invoice_items['qty']}}<br /></td>
                        <td>{{ invoice_items['price']}}<br /></td>
                        <td>{{ invoice_items['total']}}<br /></td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </table>
        <div class="row">
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col col-md-3">
                <input type="text" class="form-control" id="grandTotal" placeholder="Grand Total">

            </div>
        </div>
    </div>

</body>
<script>
    const invoiceItemsTable = document.getElementById('invoice-items');

    function calculateGrandTotal() {
        let grandTotal = 0;
        const rows = invoiceItemsTable.rows;
        const grandTotalElement = document.getElementById('grandTotal');
        document.getElementById('grandTotal').value = grandTotal
        return (grandTotal)
        //grandTotalElement.textContent = grandTotal.toFixed(2);

    }
    calculateGrandTotal()
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
{% endblock %}

</html>